@import url(https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;900&display=swap);
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

h1{
    font-size: 30px;
    font-weight: 600px;
    text-align: center;
}

h4{
    font-size: 16px;
    font-weight: 300px;
    text-align: center;
    
}
h5{
    font-size: 12px;
       color: gray;
    text-align: center;
}